<!DOCTYPE html>
<html lang="ru">

<head>

<!-- inject:include/meta.html -->
<meta charset="utf-8">
<!-- <base href="/"> -->

<title>Find Your Socks - Сервис для поиска тайных покупателей носков в Ашане</title>
<meta name="description" content="">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Template Basic Images Start -->
<meta property="og:image" content="path/to/image.jpg">
<link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
<link rel="icon" href="img/favicon/favicon.ico">
<link rel="manifest" href="img/favicon/manifest.json">
<!-- Template Basic Images End -->

<!-- Custom Browsers Color Start -->
<meta name="theme-color" content="#5400d3">
<!-- Custom Browsers Color End -->

<link rel="stylesheet" href="css/main.min.css">
<!-- endinject -->

</head>

<body>

<!-- inject:include/header.html -->
<!-- Pushy Menu -->
<nav class="pushy pushy-right">
    <div class="pushy-content">
        <div class="btn menu-btn text-light float-right"><i class="fa fa-times fa-2x" aria-hidden="true"></i></div>
        <div class="d-block d-md-none center-block w-100 text-center py-3">
            <img src="img/logo.png" width="150" height="40" class="d-inline-block align-top" alt="">
        </div>
        <ul class="pt-md-5">
            <li class="pushy-link"><a href="#">Главная</a></li>
            <li class="pushy-link"><a href="#">Все заявки</a></li>
            <li class="pushy-link"><a href="#">Оставить заявку</a></li>
            <li class="pushy-link d-block d-md-none text-uppercase"><a href="#"><strong>Войти</strong></a></li>
        </ul>
    </div>
</nav>
<!-- Site Overlay -->
<div class="site-overlay"></div>
<!-- Content -->
<div id="container" data-parallax="scroll" data-image-src="img/bg_front.png">

    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <img src="img/logo.png" width="150" height="40" class="d-inline-block align-top" alt="">
            </a>
            <ul class="navbar-nav ml-auto mr-5 d-none d-md-block">
                <li class="nav-item active">
                    <a class="nav-link text-uppercase" href="javascript:void(0)" data-toggle="modal" data-target="#AUTH_MODAL" data-dismiss="modal"><strong>Войти</strong></a>
                </li>
            </ul>
            <!-- Menu Button -->
            <button class="navbar-toggler menu-btn" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
<!-- endinject -->

		<div class="container text-light">
			<div class="row text-center my-3">
				<h1 class="text-shadow">Find Your Socks - Сервис для поиска тайных покупателей носков в Ашане</h1>
			</div>
			<div class="row no-gutters p-5 align-items-center box-shadow instruction bg-content">
				<div class="w-100 text-center text-uppercase">
					<h2>Как найти тайного покупателя?</h2>
				</div>
				<div class="col-1 text-center py-4 instruction__number"><span>1</span></div>
				<div class="col-11 px-4 py-4 instruction__message">Выбери город</div>
				<div class="w-100"></div>
				<div class="col-1 text-center py-4 instruction__number"><span>2</span></div>
				<div class="col-11 px-4 py-4 instruction__message">Выбери подходящий магазин</div>
				<div class="w-100"></div>
				<div class="col-1 text-center py-4 instruction__number"><span>3</span></div>
				<div class="col-11 px-4 py-4 instruction__message">Опиши, какие именно носки тебе нужны</div>
				<div class="w-100"></div>
				<div class="col-1 text-center py-4 instruction__number"><span>4</span></div>
				<div class="col-11 px-4 py-4 instruction__message">Жди отклика соискателей</div>
				<div class="w-100"></div>
				<div class="col-1 text-center py-4 instruction__number"><span>5</span></div>
				<div class="col-11 px-4 py-4 instruction__message">Договорись с соискателем где и как ты получишь носки</div>
				<div class="w-100 mt-3 text-center">
					<a href="#" class="btn btn-lg btn-danger">Оставить заявку</a>
				</div>
			</div>
            <div class="row my-2 p-3 requests">
                <div class="w-100 py-2">
                    <h2 class="text-uppercase requests__header">Последние заявки</h2>
                </div>
                <div class="card bg-dark w-100 my-2 requests__item bg-content">
                    <div class="card-header">
                        <h5>Синие носки с котятами<span class="float-right">Город: <strong>Волгоград</strong></span></h5>
                    </div>
                    <div class="card-body row">
                        <div class="col-9">
                            <p><strong>Описание: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, accusamus adipisci animi doloremque id inventore laborum odio quibusdam repudiandae tempore?</p>
                            <p><strong>Магазин: </strong>Пр-т Университетский, 101</p>
                        </div>
                        <div class="col-3 align-self-end">
                            <a href="#" class="btn btn-outline-primary float-right">Ответить на заявку</a>
                        </div>
                    </div>
                </div>
                <div class="card bg-dark w-100 my-2 requests__item bg-content">
                    <div class="card-header">
                        <h5>Желтые носки с единорогом<span class="float-right">Город: <strong>Москва</strong></span></h5>
                    </div>
                    <div class="card-body row">
                        <div class="col-9">
                            <p><strong>Описание: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, accusamus adipisci animi doloremque id inventore laborum odio quibusdam repudiandae tempore?</p>
                            <p><strong>Магазин: </strong>ул. Ленинская Слобода, 26</p>
                        </div>
                        <div class="col-3 align-self-end">
                            <a href="#" class="btn btn-outline-primary float-right">Ответить на заявку</a>
                        </div>
                    </div>
                </div>
                <div class="card bg-dark w-100 my-2 requests__item bg-content">
                    <div class="card-header">
                        <h5>Синие носки с котятами<span class="float-right">Город: <strong>Волгоград</strong></span></h5>
                    </div>
                    <div class="card-body row">
                        <div class="col-9">
                            <p><strong>Описание: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, accusamus adipisci animi doloremque id inventore laborum odio quibusdam repudiandae tempore?</p>
                            <p><strong>Магазин: </strong>Пр-т Университетский, 101</p>
                        </div>
                        <div class="col-3 align-self-end">
                            <a href="#" class="btn btn-outline-primary float-right">Ответить на заявку</a>
                        </div>
                    </div>
                </div>
            </div>
		</div>

<!-- inject:include/footer.html -->
<footer class="footer">
    <div class="container-fluid bg-dark text-light p-4">
        <div class="row justify-content-center">
            <p class="text-muted">© Find Your Socks, 2018</p>
        </div>
    </div>
</footer>

</div>

<!-- Auth Modal -->
<div class="modal fade" id="AUTH_MODAL" tabindex="-1" role="dialog" aria-labelledby="AUTH_MODAL_Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="authModalLabel">Авторизация</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="form-label">Логин</label>
                        <input type="text" class="form-control" name="login" placeholder="Введите логин">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Пароль</label>
                        <input type="password" class="form-control" name="password" placeholder="Пароль">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-secondary btn-block">Войти</button>
                    </div>
                    <div class="form-group">
                        <p>Если Вы впервые на сайте, заполните, пожалуйста, регистрационную форму.</p>
                    </div>
                    <div class="form-group">
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#REGISTER_MODAL" data-dismiss="modal" class="btn btn-outline-secondary btn-block">Регистрация</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Auth Modal -->
<div class="modal fade" id="REGISTER_MODAL" tabindex="-1" role="dialog" aria-labelledby="REGISTER_MODAL_Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalLabel">Регистрация</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="form-label required">Логин</label>
                        <input type="text" class="form-control" name="login" placeholder="Введите логин">
                    </div>
                    <div class="form-group">
                        <label class="form-label required">Пароль</label>
                        <input type="password" class="form-control" name="password" placeholder="Пароль">
                        <small class="form-text text-muted">Пароль должен быть не менее 6 символов длиной.</small>
                    </div>
                    <div class="form-group">
                        <label class="form-label required">Подтверждение пароля</label>
                        <input type="password" class="form-control" name="confirm_password" placeholder="Подтверждение пароля">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-secondary btn-block">Регистрация</button>
                    </div>
                    <div class="form-group">
                        <p>Если вы уже регистрировались на сайте, то авторизуйтесь.</p>
                    </div>
                    <div class="form-group">
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#AUTH_MODAL" data-dismiss="modal" class="btn btn-outline-secondary btn-block">Войти</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src="js/scripts.min.js"></script>
<!-- endinject -->

</body>
</html>
